* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 100vw;
}

/* Estilos generales de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    /* Ancho de la barra */
}

/* Estilo del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: rgb(43, 43, 43);

}

/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: greenyellow;
    border-radius: 10px;

}

/* Estilo del pulgar de la barra de desplazamiento al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


nav {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 30px;
    font-size: 30px;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 0px 30px;
    border-bottom: 1px solid greenyellow;
    height: 10vh;
}

.secondnav {
    z-index: 2;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    height: auto;

}

.secondnavlist {
    list-style: none;
    text-align: center;
}

.divnav {
    display: none;
    display: flex;
    justify-content: center;
}

.navlist {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.navbar {

    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar li {
    list-style-type: none;
    display: inline;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: #2a3342;
}

#about {
    display: flex;
    height: 100vh;
    padding: 0 0 0 100px;
    gap: 100px;
    text-align: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(90deg,
            rgba(31, 31, 31, 0.747),
            rgba(0, 0, 0, 0.726),
            rgba(31, 31, 31, 0.74)),
        url(/fondo.png);
}

.history {
    font-size: 20px;
    text-align: justify;
}

#about img {
    height: 100%;
}

.title {
    text-align: left;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 100px;
    border-bottom: 1px solid greenyellow;
}

.img-container {
    position: relative;
    height: 100vh;
    border-left: 1px solid greenyellow;
}

.txt-img {
    z-index: 1;
    position: absolute;
    bottom: 10%;
    text-align: justify;
    padding-left: 20px;
    font-size: larger;
}

.name {
    font-size: 60px;
}

.space {
    padding: 40px;
}

#projects {
    padding-top: 40px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 75vh;
    background-image: linear-gradient(90deg,
            rgba(31, 31, 31, 0.747),
            rgba(0, 0, 0, 0.726),
            rgba(31, 31, 31, 0.74)),
        url(/fondo.png);
}

#projects img {
    width: 30vw;
    height: 30vh;
}

.project-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 30%;
    bottom: 30%;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 30px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.project-container img {
    border-radius: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25vh;
    background: linear-gradient(90deg,
            rgb(31, 31, 31),
            rgb(0, 0, 0),
            rgb(31, 31, 31));
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    padding: 40px;
    color: white;
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
}

#technologies {
    background-image: linear-gradient(90deg,
            rgba(31, 31, 31, 0.747),
            rgba(0, 0, 0, 0.726),
            rgba(31, 31, 31, 0.74)),
        url(/fondo.png);
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#technologies img {
    width: 15vw;
}

.tech-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background-color: white;
    border-radius: 100%;
    padding: 50px 0;
}

#contact {
    height: 90vh;
    background-image: linear-gradient(90deg,
            rgba(31, 31, 31, 0.747),
            rgba(0, 0, 0, 0.726),
            rgba(31, 31, 31, 0.74)),
        url(/fondo.png);
    color: white;
    text-align: center;
}

#contact h1 {
    font-size: 60px;
    padding: 50px;
    border-bottom: 1px solid greenyellow;
    border-top: 1px solid greenyellow;
    background: linear-gradient(90deg,
            rgb(31, 31, 31),
            rgb(0, 0, 0),
            rgb(31, 31, 31));
}

.contact-details {
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#burguer {
    z-index: 3;
    position: absolute;
    display: none !important;
    color: greenyellow;
    background-color: black;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-3 16:35:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-3 16:43:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-3 17:56:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.heartbeat {
    position: relative;
}

.heartbeat:hover {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-3 18:18:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}



@media (max-width: 1300px) {
    #about {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .img-container {
        order: -1;
        height: 40vh;
        border: 1px solid greenyellow;
        margin-top: 150px;
    }

    .name {
        font-size: 15px;
    }

    .job {
        text-align: left;
        font-size: 12px;
    }

}

@media (max-width: 800px) {

    .name {
        font-size: 15px;
    }

    .job {
        text-align: left;
        font-size: 12px;
    }

    #projects a {
        font-size: 12px;
    }

    nav {
        height: 26px;
        padding: 0;
    }

    .divnav {
        display: none;
    }

    #burguer:hover {
        cursor: pointer;
    }

    #burguer {
        display: block !important;
        position: fixed;
        border: 1px solid greenyellow;
    }



    #about {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }

    .img-container {
        order: -1;
        height: 40vh;
        border: 1px solid greenyellow;
        margin-top: 40px;
    }

    .title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
        padding: 20px;

    }

    .header {
        height: auto;
        font-size: 30px;
        padding: 20px;
    }

    #projects {
        padding: 10px;
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    #projects img {
        width: 90vw;
    }

    #technologies {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 30px;
        height: auto;
    }

    #technologies img {
        width: 30vw;

    }

    #contact h1 {
        font-size: 30px;
        padding: 20px;

    }

    .contact-links {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }

    .history {
        font-size: 12px;
    }

    .secondnav {
        display: block;
    }

    .menu-container a {
        font-size: 14px;
    }

    .menu-container {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: auto;
        background-color: black;
        border-bottom: 1px greenyellow solid;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
    }

    .menu-container.abierto ul {
        opacity: 1;
        max-height: 200px;
    }

}
